*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #191818;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

.tab {
  max-width: 100%;
  padding: 0 2em;
  background-color: #191818;
  border-style: ridge;
  border-color: rgb(11, 176, 154);
  border-radius: 0.3rem;
  line-height: 4em;
  font-weight: bold;
  white-space: nowrap;
  overflow: auto;
}

h1 {
  color: rgb(11, 176, 154);
  font-size: 250%;
  font-style: italic;
  text-decoration: solid;
  font-family: "Segoe UI", 
  Tahoma, Geneva, Verdana, sans-serif;
}

button {
  padding: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  border-color: rgb(11, 176, 154);
  margin-left: 150%;
  color: rgb(11, 176, 154);
  background-color: #191818;
  font-weight: bold;
  text-decoration: solid;
  font-family: "Segoe UI", 
  Tahoma, Geneva, Verdana, sans-serif;
}

.tab-items {
  --indicator: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-grid;
  grid-gap: 1em;
}

.tab-items> :nth-child(1) {
  grid-column: 1/2;
}

.tab-items> :nth-child(2) {
  grid-column: 2/3;
}

.tab-items> :nth-child(3) {
  grid-column: 3/4;
}

.tab-items> :nth-child(4) {
  grid-column: 4/5;
}

.tab-items> :nth-child(5) {
  grid-column: 5/6;
}

.tab-items> :nth-child(6) {
  grid-column: 6/7;
}

.tab-item {
  display: inline;
  grid-row: 1/2;
}

.tab-item.active .item-link {
  color: #2da;
}

.item-link {
  padding: 0 0.75em;
  color: rgb(228, 235, 234);
  text-decoration: none;
  display: inline-block;
  transition: color 256ms;
}

.item-link:hover {
  color: rgb(11, 176, 154);
  text-decoration: undelrine;
}

.separator {
  width: 1px;
  height: 60%;
  margin: 10% 0;
  background-color: #ccc;
  align-self: center;
}

.tab-indicator {
  height: 3px;
  background-color: rgb(11, 176, 154);
  border-radius: 3px 3px 0 0;
  grid-column: var(--index) / span 1 !important;
  grid-row: 1/2;
  align-self: end;
  transition: all 300ms;
}